beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
click-log==0.3.2
click==6.7
configobj==5.0.6
dataclasses==0.6
delegator.py==0.1.0
elib-run==2018.9.9.1
elib==2018.9.2.2
everett==0.9
future==0.16.0
gitdb2==2.0.4
gitpython==2.1.11
gtts-token==1.1.1; python_version < '4'
gtts==2.0.1; python_version < '4'
humanize==0.5.1
idna==2.7
jinja2==2.10
markupsafe==1.0
packaging==17.1
pdfrw==0.4
pefile==2018.8.8
pexpect==4.6.0
ptyprocess==0.6.0
pyparsing==2.2.0
pyyaml==3.13
raven==6.9.0
requests==2.19.1
sarge==0.1.5.post0
six==1.11.0
smmap2==2.0.4
tqdm==4.26.0
urllib3==1.23